:root {
    /*--font size--*/
    --font-size-13: 0.813rem;
    --font-size-14: 0.875rem;
    --font-size-15: 0.9375rem; 
    --font-size-16: 1rem; 
    --font-size-17: 1.0625rem; 
    --font-size-18: 1.125rem;
    --font-size-19: 1.188rem;
    --font-size-20: 1.25rem; 
    --font-size-21: 1.313rem;
    --font-size-22: 1.375rem; 
    --font-size-23: 1.438rem; 
    --font-size-24: 1.5rem; 
    --font-size-25: 1.563rem; 
    --font-size-26: 1.625rem;
    --font-size-27: 1.688rem; 
    --font-size-28: 1.75rem; 
    --font-size-30: 1.875rem; 
    --font-size-31: 1.938rem; 
    --font-size-32: 2rem; 
    --font-size-34: 2.125rem; 
    --font-size-35: 2.188rem; 
    --font-size-36: 2.25rem; 
    --font-size-37: 2.313rem; 
    --font-size-38: 2.375rem; 	
    --font-size-40: 2.5rem; 	
    --font-size-42: 2.625rem; 
    --font-size-43: 2.688rem; 
    --font-size-45: 2.813rem; 
    --font-size-48: 3rem; 
    --font-size-50: 3.125rem;
    --font-size-52: 3.25rem;
    --font-size-55: 3.438rem;
    --font-size-58: 3.625rem;
    --font-size-60: 3.75rem;
    --font-size-65: 4.063rem;
    --font-size-70: 4.375rem;
    --font-size-72: 4.5rem;
    --font-size-74: 4.625rem;
    --font-size-75: 4.688rem;
    --font-size-80: 5rem;
    --font-size-85: 5.313rem;
    --font-size-86: 5.375rem;
    --font-size-90: 5.625rem;
    --font-size-100: 6.25rem;
    --font-size-110: 6.875rem;
    --font-size-120: 7.5rem;
    
    /*--font weight--*/
    --font-t: 100;
    --font-l: 300;
    --font-r: 400;
    --font-m: 500;
    --font-sb: 600;
    --font-b: 700;
    --font-eb: 800;
    --font-bl: 900;
    
    /*color*/
    /*--color-main: #c70707;*/
    --color-black: #111;
    --color-white: #fff;
    }
    
    .fs_14{font-size: var(--font-size-14);letter-spacing: -0.03em;}
    .fs_15{font-size: var(--font-size-15);letter-spacing: -0.03em;}
    .fs_16{font-size: var(--font-size-16);letter-spacing: -0.03em;} 
    .fs_17{font-size: var(--font-size-17);letter-spacing: -0.03em;} 
    .fs_18{font-size: var(--font-size-18);letter-spacing: -0.03em;}
    .fs_20{font-size: var(--font-size-20);} 
    .fs_21{font-size: var(--font-size-21);} 
    .fs_22{font-size: var(--font-size-22);} 
    .fs_23{font-size: var(--font-size-23);} 
    .fs_24{font-size: var(--font-size-24);}
    .fs_25{font-size: var(--font-size-25);} 
    .fs_26{font-size: var(--font-size-26);} 
    .fs_28{font-size: var(--font-size-28);} 
    .fs_29{font-size: var(--font-size-29);} 
    .fs_30{font-size: var(--font-size-30);} 
    .fs_32{font-size: var(--font-size-32);} 
    .fs_33{font-size: var(--font-size-33);} 
    .fs_34{font-size: var(--font-size-34);} 
    .fs_35{font-size: var(--font-size-35);} 
    .fs_36{font-size: var(--font-size-36);} 
    .fs_38{font-size: var(--font-size-38);} 
    .fs_40{font-size: var(--font-size-40);} 
    .fs_42{font-size: var(--font-size-42);} 
    .fs_45{font-size: var(--font-size-45);}
    .fs_48{font-size: var(--font-size-48);}
    .fs_50{font-size: var(--font-size-50);}
    .fs_52{font-size: var(--font-size-52);}
    .fs_54{font-size: var(--font-size-54);}
    .fs_55{font-size: var(--font-size-55);}
    .fs_56{font-size: var(--font-size-56);}
    .fs_60{font-size: var(--font-size-60);}
    .fs_65{font-size: var(--font-size-65);} 
    .fs_67{font-size: var(--font-size-67);} 
    .fs_70{font-size: var(--font-size-70);} 
    .fs_72{font-size: var(--font-size-72);} 
    .fs_74{font-size: var(--font-size-74);} 
    .fs_75{font-size: var(--font-size-75);} 
    .fs_80{font-size: var(--font-size-80);} 
    .fs_86{font-size: var(--font-size-86);} 
    .fs_94{font-size: var(--font-size-94);} 
    .fs_100{font-size: var(--font-size-100);}
    .fs_110{font-size: var(--font-size-110);}
    
    .fw_t{font-weight: var(--font-t);}
    .fw_l{font-weight: var(--font-l);}
    .fw_r{font-weight: var(--font-r);}
    .fw_m{font-weight: var(--font-m);}
    .fw_sb{font-weight: var(--font-sb);}
    .fw_b{font-weight: var(--font-b);}
    .fw_eb{font-weight: var(--font-eb);}
    .fw_bl{font-weight: var(--font-bl);}
    
    .fc_main {color: var(--color-main);}
    .fc_point {color: var(--color-point);}
    .fc_black {color: var(--color-black);}
    .fc_white {color: var(--color-white);}