@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {font-family: "Noto Sans KR", sans-serif;color:#333;}
.counter_wrap {height:100vh;padding: 3em 0;border-radius: 20px 20px 0 0;border:solid 1px #e1e1e1;}
.ch_inner {width:92%;max-width:720px;margin:0 auto;}

.count_wrap {width:100%;display:flex;}
.count_wrap li {width:50%;padding:20px 0;display: flex;align-items: flex-end;justify-content: center; text-align: center;}

.btn_wrap {width:100%;display:flex;padding:30px 0;border-radius: 10px;background:#555;}
.btn {width:50%;display:flex;gap:20px;justify-content: center;}
.btn button {
  width:50px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
   rgba(0, 0, 0, 0.06) 0px 2px 1px, 
   rgba(0, 0, 0, 0.09) 0px 4px 2px, 
   rgba(0, 0, 0, 0.09) 0px 8px 4px, 
   rgba(0, 0, 0, 0.09) 0px 16px 8px, 
   rgba(0, 0, 0, 0.09) 0px 32px 16px;
   font-size:var(--font-size-16);
   font-weight:var(--font-sb);
   color:#333;
   background:#fff;
  }
.btn button:hover {background:#888;color:#fff;}
.btn button:active {
  background-color: #032133; /* 클릭했을 때 */
  transform: scale(0.98); /* 살짝 눌리는 느낌 */
}

@media screen and (max-width:1080px) {
  .btn_wrap {flex-wrap:wrap;padding:20px;}
  .btn {flex-wrap:wrap;}
}
@media screen and (max-width:720px) {
  .counter_wrap h1 {font-size:var(--font-size-36);}
  .counter_wrap h2 {font-size:var(--font-size-28);}
  .count_wrap li {padding: 20px 30px;}
  .btn_wrap {gap:16px;}
  .btn {width:100%;}
}

@media screen and (max-width:720px) {
  .btn button {width:40px;}
}
